body{
margin: 0;
}

.contacts{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.contactsTitle{
    padding: 10px 0 50px 0;
}

#linkedin{
    margin: 0 30px 0 30px;
}